#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;

}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 90%;
  max-width: 429px;
  height: auto;
  margin-top: 49px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
}

.swiper-pagination-bullet {
  background-color: #c6c5d0;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #4d3523;
  opacity: 1;
}

/* Modal Arka Plan */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease-in-out;
}

/* Modal İçeriği */
.modal img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
  animation: zoomIn 0.5s ease-in-out;
}

.custom-pagination {
  text-align: center;
  margin-top: -10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

/* FadeIn ve ZoomIn Animasyonları */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
