.successBg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
    width: auto;
    border-radius: 4px;
    gap: 12px;
    background: #FD451C;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 14px;
    left: 50%;
    transition: 0.4s all ease;
    transform: translateX(-50%);
    z-index: 999;
}

.deactive {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}