.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  margin: 26px 0 38px 0;
}

.container > div {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-bottom: 13px;
}

.container > div span {
  color: var(--Dark, #191a26);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.container > div:not(:last-child) {
  border-bottom: 0.5px solid #9a1f1f;
}

.goToMenu {
  display: flex;
  justify-content: center;
}

.goToMenu2 {
  display: flex;
  justify-content: center;
}

.goToMenu3 {
  display: flex;
  justify-content: center;
}

.goToMenu4 {
  display: flex;
  justify-content: center;
}

.goToMenu button {
  border-radius: 34px;
  border: 1px solid #9a1f1f;
  background: #fff !important;
  display: flex;
  width: 320px;
  height: 44px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #9a1f1f;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.goToMenu2 button {
  border-radius: 34px;
  border: 1px solid #1b4b48;
  background: #fff !important;
  display: flex;
  width: 320px;
  height: 44px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #1b4b48;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.goToMenu3 button {
  border-radius: 34px;
  border: 1px solid #ED312E;
  background: #fff !important;
  display: flex;
  width: 320px;
  height: 44px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #ED312E;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.goToMenu4 button {
  border-radius: 34px;
  border: 1px solid #717513;
  background: #fff !important;
  display: flex;
  width: 320px;
  height: 44px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #717513;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

