table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

thead {
  background: var(--MPrimary-800, #4d3523);
  color: var(--MSecondary-100, #f8f8f6);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

tbody {
  background: #fff;
}

th,
td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

td img {
  max-width: 104px !important;
  width: 104px;
  height: 60px !important;
  border-radius: 2px !important;
}

tr,
td {
  padding: 12px;
}

tr td {
  color: var(--Dark, #191a26);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-bottom: 1px solid #e6e7eb;
}

tbody td {
  text-align: center;
}

.button-area {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.button-area img {
  width: 20px;
  height: 20px;
  margin-right: 0;
}

.button-area > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 41px;
  width: 40px;
  height: 40px;
  border: 1px solid var(--Light-grey, #e6e7eb);
  cursor: pointer;
  transition: 0.3s all ease;
}

.button-area > button:hover {
  opacity: 0.7;
}

tbody {
    display: block;
    max-height: 340px; 
    overflow-y: auto; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
