.menuHeadArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 12px 14px 12px;
    border-bottom: 0.5px solid #E6E7EB;
}

.menuHead {
    color: var(--Dark, #191A26);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
}

.hamburgerMenu {
    border-radius: 100px;
    background: #F3F3F3;
    padding: 8px;
}

.leftArr {
    padding: 8px;
    border-radius: 100px;
    background: #F3F3F3;
}