.langContainer {
    position: absolute;
    top: 24px;
    right: 164px;
}

.lang {
    border: 1px solid #ccc;
    padding: 4px 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.dropdown {
    background: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 4px 0px !important;
    padding-left: 4px;

}

.deactive {
    display: none;
}

.dropdown a {
    font-size: 12px;
    font-weight: 600;
    color:#000;
    padding-left: 8px;
    padding: 4px 6px;
    text-transform: uppercase;
    transition: 0.3s all ease;
    cursor: pointer;

}

.dropdown a:hover {
    background: #ccc;
}