.modalButtons {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding: 1rem;
}

.modalImgTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.productImg {
  position: relative;
  z-index: 0;
}

.manat {
  width: 20px !important;
  color: #191a26 !important;
}

.productImg img {
  width: 100%;
  object-fit: cover;
  height: 289px;
}

.leftArr {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rightShare {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.minute {
  position: absolute;
  bottom: 32px;
  border-radius: 70px;
  background: var(--Schemes-Surface-Container-Lowest, #fff);
  padding: 4px 8px;
  color: var(--Dark, #191a26);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  left: 12px;
  z-index: 1;
}

.calorie {
  position: absolute;
  bottom: 32px;
  border-radius: 70px;
  background: var(--Schemes-Surface-Container-Lowest, #fff);
  padding: 4px 8px;
  left: 68px;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 4px;
}

.calorie span {
  color: var(--Dark, #191a26);
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.calorie img {
  width: 12px;
  height: 12px;
}

.modalBottom {
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 999;
  width: 100%;
  margin-top: -20px;
  background-color: #fff;
  padding: 25px 12px 24px 12px;
  border-radius: 20px 20px 0px 0px;
}

.detailHead h3 {
  overflow: hidden;
  color: var(--Dark, #191a26);
  text-overflow: ellipsis;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 8px;
}

.detailHead span {
  overflow: hidden;
  color: #a9a9a9;
  text-overflow: ellipsis;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.detailHead div {
  color: var(--Dark, #191a26);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  margin-top: 15px;
}

.favBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--Dark, #191a26);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  padding-right: 8px;
}

.reviewBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background: var(--Soft-Grey, #edf1f8);
  margin-bottom: 14px;
}

.reviewBtn > span {
  color: var(--Dark, #191a26);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.reviewBtn div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.reviewBtn div > span {
  color: var(--Dark, #191a26);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.mealSize {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.mealSize :nth-child(1) {
  color: #a9a9a9;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.mealSize :nth-child(2) {
  color: var(--Dark, #191a26);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.addToBasket img, .addToBasketDeactive img {
  width: 26px;
  height: 26px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(301deg) brightness(99%) contrast(104%);
}

.addToBasket > button {
  display: flex;
  width: 95%;
  margin: 0 auto;
  height: 44px;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  color: #fff;
  background: var(--Primary, #fd451c);
}

.addToBasketDeactive button {
  display: flex;
  width: 95%;
  margin: 0 auto;
  height: 44px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  color: #fff;
  background: gray;
}
