.category-area {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
}

.mainCourse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.mainCourse :nth-child(1) {
    color: var(--Dark, #191A26);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.mainCourse :nth-child(2) {
    color: var(--Primary, #FD451C);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

